<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
</head>
<body>
    <h1>Photos</h1>
    <p>Application For Photos</p>
    <div id="photos">
        <% photos.forEach(function (photo) { %>
        <div class="photo"></div>
        <h2><%= photo.name%></h2>
        <img src="/photos/<%= photo.path %>" alt=""/>
        <% }) %>
    </div>
</body>
</html>